<div class="flex flex-col justify-start items-center h-screen mt-40">
  <h1 class="text-5xl font-bold">CreativeIn</h1>
  <p class="text-center text-lg mt-4 px-96">
    La plataforma donde podrás colaborar con miles de socios, con los que
    comparten gustos y aficiones, indaga por la web para que puedas encontrar un
    compañero para colaborar y crecer juntos!.
  </p>
</div>
