<section class="mx-auto max-w-7xl px-4 pb-20">
  <p class="mb-6 text-center text-sm text-neutral-400">
    Creados por talentos de
  </p>
  <div
    class="grid grid-cols-2 items-center gap-6 opacity-70 sm:grid-cols-3 md:grid-cols-6"
  >
    <img
      src="/logos/youtube.svg"
      class="mx-auto h-8 invert brightness-0"
      alt="YouTube"
    />
    <img
      src="/logos/twitch.svg"
      class="mx-auto h-8 invert brightness-0"
      alt="Twitch"
    />
    <img
      src="/logos/figma.svg"
      class="mx-auto h-8 invert brightness-0"
      alt="Figma"
    />
    <img
      src="/logos/photoshop.svg"
      class="mx-auto h-8 invert brightness-0"
      alt="Photoshop"
    />
    <img
      src="/logos/aftereffects.svg"
      class="mx-auto h-8 invert brightness-0"
      alt="After Effects"
    />
    <img
      src="/logos/github.svg"
      class="mx-auto h-8 invert brightness-0"
      alt="GitHub"
    />
  </div>
</section>
