<section class="mx-auto max-w-7xl px-4 pb-20">
  <p class="mb-6 text-center text-sm text-neutral-400">
    Creados por talentos de
  </p>
  <div
    class="grid grid-cols-2 items-center gap-6 opacity-70 sm:grid-cols-3 md:grid-cols-6"
  >
    <img src="/logos/yt.svg" class="mx-auto h-8" alt="YouTube" />
    <img src="/logos/twitch.svg" class="mx-auto h-8" alt="Twitch" />
    <img src="/logos/figma.svg" class="mx-auto h-8" alt="Figma" />
    <img src="/logos/ps.svg" class="mx-auto h-8" alt="Photoshop" />
    <img src="/logos/ae.svg" class="mx-auto h-8" alt="After Effects" />
    <img src="/logos/gh.svg" class="mx-auto h-8" alt="GitHub" />
  </div>
</section>
